{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static  '/css/main.css'%}">
    <title>JDEVS-My Site</title>
</head>
<body>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-wrapper" class="my-card-color card-text-color card card-body h-100">
                    <img id="profile-pic" src="{% static 'img/moi.png' %}" alt="Julio Briones">
                    <hr>
                    <h4>Hello! I'm Julio</h4>
                    <p>I love coding and learning about new technologies.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="my-card-color card-text-color card card-body h-100">
                    <h3>My first project as a developer</h3>
                    <p>
                        I had always wanted to be a programmer or computer geek ever since I had my first close
                        encounter with computers while back in high school. Though back then my programming classes
                        seemed too complex and went on the way for graphic design, I still related myself to learning
                        about the nuts and bolts of computer guts, specially Linux Distros.
                    </p>
                    <p>
                        Now, a few years ago I started meddling into programming and chose Python after a brief
                        search on the web about which language was easier to grasp, specially by somebody like me, who
                        considers himself slow to learning programming languages.
                    </p>
                    <p>
                        While learning Python, I realized the need to be acquainted with HTML, CSS and JavaScript since
                        those languages are the cornerstone of web programming. I had to have a solid understanding of
                        the Three Musketeers, as I called them. Therefore, I had to, I wouldn't call it "deviate", but
                        give time to those three technologies as well if I really wanted to be competent in making web
                        apps, anyway, how would I style anything for the web? dah!
                    </p>
                    <p>
                        So here we are, still trying hard and devoting my time to this beautiful and satisfying career
                        as a web developer and a general programmer... you know, there's a lot more to learn in
                        this field.
                    </p>
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/julio.briones.52" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/facebook.png' %}" alt="" class="social"></a></li>
                        <li><a href="https://www.linkedin.com/in/julio-briones-3103a658" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/linkedin.png' %}" alt="" class="social"></a></li>
                        <li><a href="https://twitter.com/Iulius_CaesarII" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/twitter.png' %}" alt="" class="social"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="my-card-color card-text-color card card-body h-100">
                    <h4>My Experience as a Developer</h4>
                    <hr>
                    <p>Full Stack developer as a freelancer.</p>
                    <p>
                        I would say that I'm still within the learning process of all this, nonetheless, there are
                        those friends that value my work and have asked my to create small projects for them, such as
                        small apps or landing pages.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="my-card-color card-text-color card card-body h-100">
                    <h4>What I Know</h4>
                    <hr>
                    <p>
                        Python, Django, HTML/CSS, JavaScript, React, Vue.js, Postgres, MongoDB, GraphQL, AWS and the
                        development of APIs, all these in mind of providing a better service to my clients.
                    </p>
                    <p>PS: Working on Data Science and Machine Learning, using Python of course!</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="my-card-color card-text-color card card-body h-100">
                    <h4>How I learn</h4>
                    <hr>
                    <p>
                        Reverse Engineer & Build Ugly Prototypes First.
                    </p>
                    <p>
                        I can learn just about anything by having a final product to tear apart piece by piece.
                        I break the code where I need to figure out why things work the way they do. Documentation
                        is just a reference.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="my-card-color card-text-color card card-body h-100">
                    <h4>My Short-Term Goals</h4>
                    <hr>
                    <p>
                        It might sound ambitious to some people, but my goal is to solidify my knowledge and skills
                        in all the steps of developing software, from systems architecture to management and system
                        administration considering different environment.
                    </p>
                    <p>
                        Aside from building small projects, I would love to build a world-class developing
                        software company which could make the difference in people's lives.
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>